{% extends 'base.html' %}
{% load static %}

{% block title %} Signed-In Homepage {% endblock %}

{% block styles %} {% endblock %}

{% block navbar %}
<ul class="nav navbar-nav ml-auto">
  <a class="navbar-brand" href="/profile">
    <img src="{% static 'css/person-circle.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <a href="/logout"><button class="btn btn-light">Logout</button></a>
</ul>
{% endblock %}

{% block body %}

<div class="main">
    <h1>{{event.name}}</h1>
    <h3>{{ event.date }}</h3>
    {% for ticket in tickets %}
    <div>
        <strong>{{ ticket.seller }}</strong> is selling <strong>{{ ticket.quantity }}</strong> ticket(s) for $<strong>{{ ticket.price }}</strong>/ea<br />
        <a href="sellticket?id={{ticket.id}}&event_id={{event.id}}"><button>buy ticket</button></a>
        <hr />
    </div> 
    {% endfor %}
</div>
{% endblock %}