{% extends 'base.html' %}
{% load static %}

{% block title %} CITIVENTS {% endblock %}

{% block styles %} {% endblock %}

{% block navbar %}
<ul class="nav navbar-nav ml-auto"><a href="/logout"><button class="btn btn-light">Logout</button></a></ul>
{% endblock %}

{% block body %}

<h1>Hello, {{ user.username }}!</h1>

<div class="input-group mb-3">
  <form method="POST" action="/">
    {% csrf_token %}
    <input name="body" class="form-control" placeholder="What's on your mind?" />
    <div class="input-group-append">
      <input type="submit" class="btn btn-primary" value="Post tweet" />
    </div>
  </form>
</div>

<div>
  {% for tweet in tweets %}
  <div class="card border-dark mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ tweet.author.username }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ tweet.created_at }}</h6>
      <p class="card-text">{{ tweet.body }}</p>
      <a href="/like?id={{tweet.id}}" class="card-link">
        {% if request.user in tweet.likes.all %}
        Unlike
        {% else %}
        Like
        {% endif %}
      </a> ({{ tweet.likes.count }} &hearts;)
      {% if tweet.author == user %}
      <a href="delete?id={{tweet.id}}" class="card-link">Delete tweet</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}