{% extends 'base.html' %}
{% load static %}

{% block title %} Signed-In Homepage {% endblock %}

{% block styles %} {% endblock %}

{% block navbar %}
<ul class="nav navbar-nav ml-auto">
  <a class="navbar-brand" href="/profile">
    <i class="bi bi-person-circle"></i>
  </a>
  <a href="/logout"><button class="btn btn-light">Logout</button></a>
</ul>
{% endblock %}

{% block body %}

<div class="intro-container">
  <h1>Hello, {{user.first_name}} !</h1>
  <div class="actions-container">
    <form action="">
      <input type="submit" class="btn btn-primary active" aria-current="page" value="Explore events" />
    </form>
    <form action="/sell">
      <input type="submit" class="btn btn-primary" value="Sell tickets" />
    </form>
  </div>
</div>

{% regroup events by date.date as dates_list %}

<div class="events-container">
  <h2 class="text-center text-muted">Explore events</h2>
  <hr class="mb-4">
  {% for date in dates_list %}
  <div class="list-group mb-4">
    <h5>{{ date.grouper }}</h5>
    <div class="shadow-sm bg-white rounded">
      {% for event in date.list %}
      <a href="/profile" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ event.name }}</h5>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{ event.date.time }}</p>
          <form action="https://google.com">
            <input type="submit" value="Buy" />
          </form>
        </div>
        <small class="text-muted">{{ event.description }}</small>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

