{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.username }} {% endblock %}

{% block styles %} {% endblock %}

{% block navbar %}
<ul class="nav navbar-nav ml-auto">
  <a class="navbar-brand" href="/profile">
    <i class="bi bi-person-circle"></i>
  </a>
  <a href="/logout"><button class="btn btn-light">Logout</button></a>
</ul>
{% endblock %}

{% block body %}

<div class="main">
    <h1 class="text-center">{{ user.username }}</h1>
    <h3 class="text-center">{{ user.email }}</h3>
    <br />
    <h4 class="text-center text-muted">{{ user.username }} is selling the following tickets:</h4><br/>
    {% for ticket in tickets %}
    <div class="d-flex w-100">
      <h5 class="mb-1"><strong><a href="/event/?id={{ticket.event.id}}">{{ ticket.event }}</a></strong>: <strong>{{ ticket.quantity }}</strong> ticket(s) for $<strong>{{ ticket.price }}</strong>/ea<br/></h5>
      <hr />
    </div>
    
    {% endfor %}
</div>
{% endblock %}